<a href="https://colab.research.google.com/github/DharmeshPatel33/AI_in_Health-Care/blob/master/Python_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# 1. Input from users
number1=float(input('Please enter number 1'))
number2=int(input('Please enter number 2'))

print(number1+number2)

Please enter number 110.22
Please enter number 222
32.22

In [9]:
#2. check num is odd or even?
n=13
if(n%2==0):
  print("Number is even")
else:
  print("Number is odd")

Number is odd

In [11]:
#3. Check nums is greater?
N1=40
N2=20
if(N1>N2):
  print("N1 is greater")
else:
  print("N2 is Greater")

N1 is greater

In [12]:
#4. Print all num in given range (1,10)
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
#5. print all num in given range(10,1) using while loop
m=10
while(m>0):
  print(m)
  m=m-1

10
9
8
7
6
5
4
3
2
1

In [25]:
#6. Data structures, List, Set, Disc,Tuple
list=[1,2,3,4,1,2,3,2,1]
set={1,2,3,5,1,2}
tuple=(1,2,3)
dics={"Name":"Dharmesh","Age":30,"post":"Professor"} #{key:value}
print(list[2])
print(set)
print(tuple[0])
print(dics['Name'])
print(dics.keys())
print(dics.values())

3
{1, 2, 3, 5}
1
Dharmesh
dict_keys(['Name', 'Age', 'post'])
dict_values(['Dharmesh', 30, 'Professor'])

In [28]:
#7. Find out sum of list elements
List=[10,2,12,35,51]
sum=0
for item in List:
  sum=sum+item
  print(sum)

print(sum)

10
12
24
59
110
110

In [32]:
#8. vector addition
vector1=[0,1,2,3,4]
vector2=[6,7,8,9,10]
result_vector=[0,0,0,0,0]
for i in range(0,5):
  result_vector[i]=vector1[i]+vector2[i]
print(result_vector)

[6, 8, 10, 12, 14]

In [35]:
#9. Matrix addition
Matrix1=[[1,2]
         ,[3,4]]

Matrix2=[[1,2]
         ,[3,4]]

result_Matrix=[[0,0]
               ,[0,0]]
for i in range(0,2): #row
  for j in range(0,2): #col
    result_Matrix[i][j]=Matrix1[i][j]+Matrix2[i][j]

print(result_Matrix)

[[2, 4], [6, 8]]

In [ ]:
#